  /* This file contains all the styles for the navigation bar */


.uk-navbar-container {
  /* position: fixed*/
}

.uk-navbar-container {
    background-color: var(--primary-blue) !important;
    color: var(--primary-cream);
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0 10px;
    height: 60px;
}

.uk-navbar-container .logo,
.uk-navbar-container .burger-menu {
display: block;
  height: 82%;
  margin: 9%;
}

.uk-navbar-container .logo img,
.uk-navbar-container .burger-menu img {
height: 100%;
}

.uk-navbar-container .burger-menu.uk-open {
  background: url(../img/icon-close.svg) center center;
  background-size: 80% center center;
}

.uk-navbar-container .burger-menu.uk-open img {
  visibility: hidden;
}
