.rotating-menu-container, .rotating-menu, .rotating-menu>div * {
  width: 100%;
  max-width: 340px;

  /* Disable default browser highlighting */
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

.rotating-menu-container {
  background: url(../img/logo-bg.svg) top center no-repeat;
  background-size: 100% auto;

}

.rotating-menu {
  display: flex;
}

.rotating-menu>div {
  min-width: 33.3%;
  position: relative;
}

.rotating-menu>div>div:nth-child(2) {
  padding: 50% 0;
}

.rotating-menu>div:first-child {
  left: 33.3%;
  transform: rotate(-60deg);
}

.rotating-menu>div:last-child {
  right: 33.3%;
  transform: rotate(60deg);
}

.rotating-menu a {
  display: block;
}

.rotating-menu, .rotating-menu * {
  cursor: pointer;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.rotating-menu div.clockwise {
  background: url(../img/icon-rotate-clockwise.svg) center center no-repeat;
  background-size: 30%;
}

.rotating-menu div.anticlockwise {
  background: url(../img/icon-rotate-anticlockwise.svg) center center no-repeat;
  background-size: 30%;
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
  .rotating-menu div.clockwise, .rotating-menu div.anticlockwise {
    background: none;
  }

  .rotating-menu>div:last-child>div.clockwise:hover {
    background: url(../img/icon-rotate-clockwise.svg) center center no-repeat;
    background-size: 50%;
  }

  .rotating-menu div.anticlockwise:hover {
    background: url(../img/icon-rotate-anticlockwise.svg) center center no-repeat;
    background-size: 50%;
  }
}


.go-to-btn {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 9999;
}

.go-to-btn p span {
  color: var(--primary-cyan);
}

.go-to-btn > .uk-button {
  background-color: var(--primary-blue);
  color: var(--primary-cyan);
  min-width: 180px;
}

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) {/* big landscape tablets, laptops, and desktops */}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
