:root {
  --primary-cream: #ECEBE9;
  --primary-blue: #2D323B;
  --primary-cyan: #C9CDD5;
  --secondary-cyan: #A9B1C2;
  --secondary-green: #42758C;
  --secondary-red: #E84359;
  }

@import "https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap"; /* Importing google fonts */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-cream);
  color: var(--primary-blue);
}

h1, h2, h3, h4, h5, h6, p > a, .txt-colour-green {
  color: var(--secondary-green);
  font-weight: 300;
}

.txt-colour-blue {
 color: var(--primary-blue);
}

.txt-colour-cyan, .footer {
  color: var(--secondary-cyan);
}

.txt-colour-red, .alert{
    color: var(--secondary-red);
}

.txt-centered {
  text-align: center;
}

.txt-heavy {
  font-weight: 800;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.uk-subnav-pill > .uk-active > a {
    background-color: var(--primary-blue) !important;
}

.button-navy-primary {
background-color: var(--primary-blue);
color: var(--primary-cream);
}

.button-navy-primary:hover {
border-color: var(--primary-blue);
background-color: var(--primary-cyan);
color: var(--primary-blue);
}

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
