:root {
  --primary-cream: #ECEBE9;
  --primary-blue: #2D323B;
  --primary-cyan: #2D323B;
  --secondary-green: #2D323B;
  --secondary-red: #2D323B;
}

@import "https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap"; /* Importing google fonts */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',

  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-cream);
  color: var(--primary-blue);


}

a {
  cursor: pointer;
}
