.rotating-menu {
 max-width: 100%;
 display: flex;

}

.rotating-menu > div > * {
 width: 100%;
}

.rotating-menu > div {
 min-width: 33.3%;
   position: relative;
}

.rotating-menu > div > div {
 padding: 50% 0;
}

.rotating-menu > div:first-child {
 left: 33.3%;
 transform: rotate(-60deg);
}

.rotating-menu > div:last-child {
   right: 33.3%;
     transform: rotate(60deg);
}


.rotating-menu, .rotating-menu img{
 cursor: pointer;
   -webkit-transition: -webkit-transform .8s ease-in-out;
 -ms-transition: -ms-transform .8s ease-in-out;
 transition: transform .8s ease-in-out;

}
